// Define variables for your color scheme

// For example:

$yellow: #FFC65A;
$orange: #E67E22;

// Edited
$black:       #222222;
$blue:        #2f80ed;
$green:       #36CF00;
$gray:        #9F9F9F;
$light-gray:  #F0F0F0;
$red:         #F40000;
