// Specific CSS for your home-page
.welcome-content {
  position: relative;
  z-index: 1;
  transition: ease-in-out opacity .25s;

  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.125rem;
  }

  &.inverted {
    h3, p {
      color: white;
    }
  }

  &.media {
    transition-delay: .25s;
  }
}

.demo-card {

  &s {
    transform: translateY(-1rem);
    transition: ease-in-out transform .5s;

    &:hover {
      transform: translateY(-1rem) scale(1.005);

      .demo-card-1 {
        transform: rotate3d(1, 1, 1, 15deg) translate(-10px, 20px);

        @include media-breakpoint-down(md) {
          transform: rotate3d(1, 1, 1, 15deg) translate(0, 20px) scale(.925);
        }
      }

      .demo-card-3 {
        transform: rotate3d(1, 1, 1, 15deg) translate(10px, -20px);

        @include media-breakpoint-down(md) {
          transform: rotate3d(1, 1, 1, 15deg) translate(0, -20px) scale(.925);
        }
      }
    }
  }

  &-1 {
    transform: rotate3d(1, 1, 1, 15deg) translate(-10px, 50px);
    transition: ease-in-out transform 1s;
    z-index: 10;

    @include media-breakpoint-down(md) {
      transform: rotate3d(1, 1, 1, 15deg) translate(0, 50px) scale(.925);
    }
  }

  &-2 {
    transform: rotate3d(1, 1, 1, 15deg);
    z-index: 20;

    @include media-breakpoint-down(md) {
      transform: rotate3d(1, 1, 1, 15deg) scale(.925);
    }
  }

  &-3 {
    transform: rotate3d(1, 1, 1, 15deg) translate(10px, -50px);
    transition: ease-in-out transform 1s;
    z-index: 30;

    @include media-breakpoint-down(md) {
      transform: rotate3d(1, 1, 1, 15deg) translate(0, -50px) scale(.925);
    }
  }

  transition: ease-in-out z-index 1s;

  .btn {
    pointer-events: none;
  }
}
