// Specific CSS for your home-page
.welcome-content {
  position: relative;
  z-index: 1;
  transition: ease-in-out opacity .25s;

  h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  p {
    font-size: 1.125rem;
  }

  &.inverted {
    h3, p {
      color: white;
    }
  }

  &.media {
    transition-delay: .25s;
  }
}
