// Import page-specific CSS files here
@import "home";

.transformedCol {
  transform: translateY(-3rem);

  @include media-breakpoint-down(md) {
    transform: none;
  }
}

#upcoming {
  top: -2rem;
}
