<%
  data = { "September" => 3253, "October" => 4501, "November" => 2587 , "December" => @monthly_sum }
%>
<div class="d-flex justify-content-center align-items-center h-100">
  <%# <%= image_tag("barchart_fixed.png", class: "img-fluid") %>
  <%# <%= column_chart({"2021-01-01" => 2, "2021-01-02" => 3}) %>
  <%= column_chart data, ytitle: "Amount in Yen" %>
</div>
