<footer class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 order-1 mb-md-0 mb-4">
        <h4>Join our <span class="text-primary">newsletter</span></h4>
        <p>Recieve the latest news updates:</p>
        <form class="mt-3">
          <div class="d-flex gap-3">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email here">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <%# <div id="emailHelp" class="form-text"><i>(ex.) yann@dumpter.com</i></div> %>
        </form>
      </div>
      <div class="col-lg-4 col-md-6 col-12 order-lg-2 order-3 mb-md-0 mb-4">
        <h4>Privacy Policy</h4>
        <p>This site is just a bit of fun and thus any information enterered on to this page should be done at the users discretion, as we haven't really spent the time to make sure your data is secure.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-12 order-lg-3 order-2 mb-md-0 mb-4">
        <div class="mb-4">
          <h4>Contact Us!</h4>
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fa-solid fa-envelope"></i></a>
          </div>
        </div>
        <div>
          <h4>About</h4>
          <p>This page was created by Subtracked Inc in under two days as a test of our patience and fortitude.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
