<section id="home" class="welcome-area" >
  <!-- Background Shape-->
  <div class="background-shape">
    <div class="circle circle-one wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
    <div class="circle circle-two wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
    <div class="circle circle-three wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
    <div class="circle circle-four wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
  </div>
  <!-- Background Animation-->
  <div class="background-animation">
    <div class="star-ani"></div>
    <div class="cloud-ani"></div>
    <div class="triangle-ani"></div>
    <div class="circle-ani"></div>
    <div class="box-ani"></div>
  </div>
  <div class="container h-100">
    <div class="row h-100 align-items-md-end align-items-center justify-content-between">
      <!-- Welcome Content-->
      <div class="col-12 col-md-8 col-lg-6 mb-5 ms-lg-5 ms-md-3 ms-0">
        <div class="welcome-content text-md-start text-center">
          <h3 class="d-block d-md-none"><span class="text-black">SUBS</span>TRACKED</h3>
          <h3 class="wow fadeInUp" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-name: fadeInUp;">Keeping your subscriptions tracked.</h3>
          <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInUp;">It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.</p>
        </div>
      </div>
    </div>
  </div>
</section>
