<section id="logged-in-bg">
  <div class="welcome-area" >
    <!-- Background Shape-->
    <div class="background-shape">
      <div class="circle circle-one wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
      <div class="circle circle-two wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
      <div class="circle circle-three wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
      <div class="circle circle-four wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
    </div>
    <!-- Background Animation-->
    <div class="background-animation">
      <div class="star-ani"></div>
      <div class="cloud-ani"></div>
      <div class="triangle-ani"></div>
      <div class="circle-ani"></div>
      <div class="box-ani"></div>
    </div>
  </div>
</section>
