<div id="inactiveSubscriptions" style="margin-bottom: 6rem;">
  <h2>Archive</h2>
  <p>These are registered subscriptions that are currently inactive.</p>
  <div class="subscriptions">
    <% @inactive_subscriptions.each do |subscription| %>
      <%= render 'shared/card', subscription: subscription %>
    <% end %>
  </div>
</div>
