<div id="upcomingSubscriptions" style="margin-bottom: 6rem;">
  <h2>Soon to be renewed</h2>
  <p>These subscriptions will auto-renew within this month.</p>
  <div class="subscriptions">
    <% @upcoming_subscriptions.each do |subscription| %>
      <%= render 'shared/card', subscription: subscription %>
    <% end %>
  </div>
</div>
