<div class="container">
  <%# Intro Section %>
  <section class="row">
    <%# Text Intro %>
    <div class="col-md-6 col-12">
      <h1></h1>
      <p>This is your total amount spent in October 2022, based on the monthly average of all active subscriptions.
        <br>
        From this page you can manage your active subscriptions, as well as add new subscriptions and renew inactive subscriptions.
      </p>
    </div>
    <%# Total Amount Display %>
    <div class="col-md-6 col-12"></div>
  </section>
  <%= @subscriptions.each do |subscription| %>
    <%= subscription.region %>
  <% end %>
</div>
