.add-new-button {
  text-decoration: none;
  background: $light-gray;
  margin-bottom: 1rem;
  width: -webkit-fill-available;
  padding: .75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black !important;
  font-weight: 500;

  &:hover {
    // background: darken($light-gray, 5%);
    background: $primary;
    color: white !important;

    i {
      color: white !important;
      background: $primary !important;
    }
  }
}

.btn {
  text-decoration: none;
  padding: .75rem 1rem;
  border-radius: 0;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &-primary {
    text-decoration: none;
    color: white !important;

    &:hover {
      background: darken($primary, 10%) !important;
    }
  }

  &-danger {
    text-decoration: none;
    color: white !important;

    &:hover {
      background: darken($danger, 10%) !important;
    }
  }

  &-close {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &-clean {
    text-decoration: none;
  }
}
