.add-new-button {
  text-decoration: none;
  background: $light-gray;
  margin-bottom: 1rem;
  width: -webkit-fill-available;
  padding: .75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black !important;
  font-weight: 500;

  &:hover {
    background: darken($light-gray, 5%);

    i {
      color: darken($primary, 5%) !important;
    }
  }
}

.btn {
  text-decoration: underline;
  padding: .75rem 1rem;
  border-radius: 0;

  &:hover {
    color: $primary;
  }

  &-primary {
    text-decoration: none;
    color: white !important;

    &:hover {
      background: darken($primary, 10%) !important;
    }
  }

  &-clean {
    text-decoration: none;
  }
}
