.card {

  .dropdown-toggle::after {
    display: none;
  }

  &-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &-container {
      width: 160px;
      background: $dark;
    }
  }

  &-content {

    h4 {
      font-weight: 700;
    }

    small {
      font-weight: 400;
    }

    p {
      font-weight: 700;
    }

    &-container {
      flex-grow: 1;
    }
  }

  &.inactive {
    h4, small, p {
      color: #9F9F9F !important;
    }
  }

  &.draggable-mirror {
    z-index: 999;
  }

  &-draggable-on {
    border: $primary 5px solid !important;
    background: $primary !important;

    .card-image {
      background: $primary !important;
    }

    .card-content {
      h4, small, p, button {
        opacity: 0 !important;
      }
    }
  }
}
