.form-select, .form-control {
  padding: 12px;
  border: none;
  font-size: 16px;
  outline: 0.5px solid $gray;
}

.service-select select {
  width: 466px;
}

.form-select:hover, .form-control:focus, .form-control:hover {
  transition: 0.1s;
  outline: 2px solid $blue;
}

abbr {
  text-decoration: none !important;
  color: $primary;
}
